<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/formulario.css') }}">
        <title>Bienvenida!</title>
    </head>
    <body>
        <section>
            <div class="registrarse">
                <form method="post" action="/procesar/nuevo/usuario">
                    <h1>Registrate!</h1>
                    <label for="nombre">Nombre</label>
                    <input type="text" name="nombre" id="">
                    <div class="error_login">
                        {%for mensaje in get_flashed_messages(category_filter=["error_nombre"]) %}
                            {{mensaje}}
                        {% endfor %}
                    </div>

                    <label for="apellido">Apellido</label>
                    <input type="text" name="apellido" id="">
                    <div class="error_login">
                        {%for mensaje in get_flashed_messages(category_filter=["error_apellido"]) %}
                            {{mensaje}}
                        {% endfor %}
                    </div>

                    <label for="edad">Edad</label>
                    <input type="number" name="edad" id="">
                    <div class="error_login">
                        {%for mensaje in get_flashed_messages(category_filter=["error_edad"]) %}
                            {{mensaje}}
                        {% endfor %}
                    </div>

                    <label for="email">Email</label>
                    <input type="text" name="email" id="">
                    <div class="error_login">
                        {%for mensaje in get_flashed_messages(category_filter=["error_email"]) %}
                            {{mensaje}}
                        {% endfor %}
                    </div>

                    <label for="contraseña">Contraseña</label>
                    <input type="password" name="contraseña" id="">
                    <div class="error_login">
                        {%for mensaje in get_flashed_messages(category_filter=["error_contraseña"]) %}
                            {{mensaje}}
                        {% endfor %}
                    </div>

                    <label for="c-contraseña">Confirma tu Contraseña</label>
                    <input type="password" name="c-contraseña" id="">
                    <div class="error_login">
                        {%for mensaje in get_flashed_messages(category_filter=["error_coincidir"]) %}
                            {{mensaje}}
                        {% endfor %}
                    </div>

                    <button>Registrarse</button>
                </form>
            </div>
            <div class="inicio-sesion">
                <form method="post" action='/procesa/login'>
                    <h1>Inicia Sesión</h1>
                    <label for="email">Email</label>
                    <input type="text" name="email" id="">

                    <label for="contraseña">Contraseña</label>
                    <input type="password" name="contraseña" id="">
                    <div class="error_login">
                        {%for mensaje in get_flashed_messages(category_filter=["error_login"]) %}
                            {{mensaje}}
                        {% endfor %}
                    </div>
                    <div class="error_login">
                        {%for mensaje in get_flashed_messages(category_filter=["error_login_c"]) %}
                            {{mensaje}}
                        {% endfor %}
                    </div>

                    <button>Iniciar Sesión</button>
                </form>
            </div>
        </section>
    </body>
</html>